<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
	<symbol id="star">
		<path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
	</symbol>
</svg>
<h2>Responsive stars rating with increments of 0.1</h2>
<div class="rating-wrap">
	<p>Rating = 1.2</p>
	<div class="stars" data-ratingValue="1.2">
		<svg viewBox="0 0 270 46">
			<use href="#star"></use>
			<use href="#star" x=55></use>
			<use href="#star" x=110></use>
			<use href="#star" x=165></use>
			<use href="#star" x=220></use>
		</svg>
		<div class="stars--fill">
			<svg viewBox="0 0 270 46">
				<use href="#star"></use>
				<use href="#star" x=55></use>
				<use href="#star" x=110></use>
				<use href="#star" x=165></use>
				<use href="#star" x=220></use>
			</svg>
		</div>
	</div>
</div>
<div class="rating-wrap">
	<p>Rating = 2.5</p>
	<div class="stars" data-ratingValue="2.5">
		<svg viewBox="0 0 270 46">
			<use href="#star"></use>
			<use href="#star" x=55></use>
			<use href="#star" x=110></use>
			<use href="#star" x=165></use>
			<use href="#star" x=220></use>
		</svg>
		<div class="stars--fill">
			<svg viewBox="0 0 270 46">
				<use href="#star"></use>
				<use href="#star" x=55></use>
				<use href="#star" x=110></use>
				<use href="#star" x=165></use>
				<use href="#star" x=220></use>
			</svg>
		</div>
	</div>
</div>
<div class="rating-wrap">
	<p>Rating = 3.0</p>
	<div class="stars" data-ratingValue="3">
		<svg viewBox="0 0 270 46">
			<use href="#star"></use>
			<use href="#star" x=55></use>
			<use href="#star" x=110></use>
			<use href="#star" x=165></use>
			<use href="#star" x=220></use>
		</svg>
		<div class="stars--fill">
			<svg viewBox="0 0 270 46">
				<use href="#star"></use>
				<use href="#star" x=55></use>
				<use href="#star" x=110></use>
				<use href="#star" x=165></use>
				<use href="#star" x=220></use>
			</svg>
		</div>
	</div>
</div>
<div class="rating-wrap">
	<p>Rating = 4.8</p>
	<div class="stars" data-ratingValue="4.8">
		<svg viewBox="0 0 270 46">
			<use href="#star"></use>
			<use href="#star" x=55></use>
			<use href="#star" x=110></use>
			<use href="#star" x=165></use>
			<use href="#star" x=220></use>
		</svg>
		<div class="stars--fill">
			<svg viewBox="0 0 270 46">
				<use href="#star"></use>
				<use href="#star" x=55></use>
				<use href="#star" x=110></use>
				<use href="#star" x=165></use>
				<use href="#star" x=220></use>
			</svg>
		</div>
	</div>
</div>
<h2>SVG Animation</h2>
<div class="rating-wrap">
	<p>Rating = 1.4</p>
	<div class="stars" data-ratingValue="1.4">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270 46" height="46" width="270" class="animated" fill="none" stroke="blue"  >
			<path style="stroke-dashoffset: 180; stroke-dasharray: 180, 182;" d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
			<path style="stroke-dashoffset: 180; stroke-dasharray: 180, 182;" d="m80,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/> 
			<path style="stroke-dashoffset: 180; stroke-dasharray: 180, 182;" d="m135,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/> 
			<path style="stroke-dashoffset: 180; stroke-dasharray: 180, 182;" d="m190,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
			<path style="stroke-dashoffset: 180; stroke-dasharray: 180, 182;" d="m245,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/> 
		</svg>
		<div class="stars--fill animatedFill">
			<svg viewBox="0 0 270 46">
				<use href="#star"></use>
				<use href="#star" x=55></use>
				<use href="#star" x=110></use>
				<use href="#star" x=165></use>
				<use href="#star" x=220></use>
			</svg>
		</div>
	</div>
</div>
<div class="rating-wrap">
	<p>Rating = 2.3</p>
	<div class="stars" data-ratingValue="2.3">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270 46" height="46" width="270" class="animated" fill="none" stroke="blue"  >
			<path style="stroke-dashoffset: 180; stroke-dasharray: 180, 182;" d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
			<path style="stroke-dashoffset: 180; stroke-dasharray: 180, 182;" d="m80,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/> 
			<path style="stroke-dashoffset: 180; stroke-dasharray: 180, 182;" d="m135,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/> 
			<path style="stroke-dashoffset: 180; stroke-dasharray: 180, 182;" d="m190,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
			<path style="stroke-dashoffset: 180; stroke-dasharray: 180, 182;" d="m245,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/> 
		</svg>
		<div class="stars--fill animatedFill">
			<svg viewBox="0 0 270 46">
				<use href="#star"></use>
				<use href="#star" x=55></use>
				<use href="#star" x=110></use>
				<use href="#star" x=165></use>
				<use href="#star" x=220></use>
			</svg>
		</div>
	</div>
</div>
<div class="rating-wrap">
	<p>Rating = 3.5</p>
	<div class="stars" data-ratingValue="3.5">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270 46" height="46" width="270" class="animated" fill="none" stroke="blue"  >
			<path style="stroke-dashoffset: 180; stroke-dasharray: 180, 182;" d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
			<path style="stroke-dashoffset: 180; stroke-dasharray: 180, 182;" d="m80,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/> 
			<path style="stroke-dashoffset: 180; stroke-dasharray: 180, 182;" d="m135,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/> 
			<path style="stroke-dashoffset: 180; stroke-dasharray: 180, 182;" d="m190,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
			<path style="stroke-dashoffset: 180; stroke-dasharray: 180, 182;" d="m245,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/> 
		</svg>
		<div class="stars--fill animatedFill">
			<svg viewBox="0 0 270 46">
				<use href="#star"></use>
				<use href="#star" x=55></use>
				<use href="#star" x=110></use>
				<use href="#star" x=165></use>
				<use href="#star" x=220></use>
			</svg>
		</div>
	</div>
</div>
<div class="rating-wrap">
	<p>Rating = 4.7</p>
	<div class="stars" data-ratingValue="4.7">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270 46" height="46" width="270" class="animated" fill="none" stroke="blue"  >
			<path style="stroke-dashoffset: 180; stroke-dasharray: 180, 182;" d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
			<path style="stroke-dashoffset: 180; stroke-dasharray: 180, 182;" d="m80,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/> 
			<path style="stroke-dashoffset: 180; stroke-dasharray: 180, 182;" d="m135,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/> 
			<path style="stroke-dashoffset: 180; stroke-dasharray: 180, 182;" d="m190,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
			<path style="stroke-dashoffset: 180; stroke-dasharray: 180, 182;" d="m245,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/> 
		</svg>
		<div class="stars--fill animatedFill">
			<svg viewBox="0 0 270 46">
				<use href="#star"></use>
				<use href="#star" x=55></use>
				<use href="#star" x=110></use>
				<use href="#star" x=165></use>
				<use href="#star" x=220></use>
			</svg>
		</div>
	</div>
</div>
