.square{
  margin-right: 10px;
  margin-bottom: 10px;
  vertical-align: top;
  transition: all $time ease;
&_container{
	margin-top: 10px;
}
}
.btn_container{
	text-align: center;
	margin-top: 10px;
}
.button{
	margin: 0 5px;
	padding: 10px 25px;
	&.enabled{
		background-color: green;
	}
	&:first-child{
		background-color: yellow;
		&.loaded{
			background-color: green;
		}
		&.complete{
			background-color: tomato;
		}
	}
	transition: all $time ease;
}
p{
	font-weight: normal;
	padding: 0;
}